/*SECCION: Unete a la familia*/

.form-unete {
    padding: 50px;
    padding-left: 0;
    height: auto;
}

.formulario-newsletter {
    padding-top: 30px;
}

.input-unete {
    width: 100%;
    height: 50px;
    float: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-unete .col {
    text-align: center;
    width: 50%;
}

.form-unete .col img {
    width: 200px;
    max-width: 200px;
    margin: 0 0 20px 0;
}


.form-checkbox {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 4px;
    margin-bottom: 25px;
}

.form-checkbox input[type=checkbox] {
    transform: scale(1.5);
}

.form-checkbox label {
    padding: 0 10px;
    font-size: 12px;
}