
* {
    font-family: 'Comfortaa', cursive; 
}
a {
    color: #ffff;
    text-decoration: none;
    padding-bottom: auto;
}

ul{
    list-style: none;
    color: #ffff;
}


.boton {
    border-radius: 100px;
    width: 100%;
    background-color: #FED5D1;
    border: none;
    color: #ffffff;
    margin: 10px 0;
    padding-top: auto;
    padding-bottom: 10px;
    font-size: 1cm;
}

.form-unete {
    max-width: 390px;
    width: 100%;
}

.input-unete {
    padding: 5px 10px;
    margin: 10px;
}

.container .form-unete .input-unete {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-unete label {
    display: flex;
}

.form2 {
    max-width: 700px;
    width: 100%;
}

.text {
    max-width: 550px;
    width: 100%;
}

.texto {
    margin: 0 150px;
}

.formu {
    margin-right: 0;
}



footer {
    background-color: #8BD1D3;
}

.footer-links {
    padding: 35px 0;
    background-color: #8BD1D3;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 10cm;
}

.footer {
    background-color: #FED5D1;
    color: #ffff;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 10px;
}

