/* PALETA DE COLORES */
:root {
    --primario: #8BD1D3;
    --secundario: #FED5D1;
    --oscuro: rgb(147, 228, 170);
    --blanco: white;
    --negro: black;
}

/* PALETA DE COLORES */


* {
    font-family: 'Comfortaa', cursive;
}

body {
    background: #fffbf9;
}

.boton {
    border-radius: 100px;
    background-color: #FED5D1;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 0.6cm;
    text-align: end;
}

/*BARRA DE NAVEGACION */
