* {
    font-family: 'Comfortaa', cursive; 
}

/*BARRA DE NAVEGACION */

nav {
    background-color: #8BD1D3;
}

.up-nav {
    background-color: #FED5D1;
    margin-bottom: 0;
}

.up-nav ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.up-nav ul li{
   align-items: center;
   justify-content: left;
   max-width: 30px;
   width: 100%;
}

.up-nav ul img {
    max-width: 60%;
    max-height: 1;
    filter: opacity(0.4) drop-shadow(0 0 0);
}

.up-nav ul img:hover {
    max-width: 60%;
    max-height: 1;
}

a {
    color: #ffff;
    text-decoration: none;
    width: auto;
}

ul{
    list-style: none;
    color: #ffff;
}

.nav-main {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 0;
    padding-top: 29px;
    width: 100%;
    margin: 0;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 15px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffff;

}

.nav-main a:hover {
    color:#ffffff;
}


.nav-main ul .nav-menu {
    flex: 1;
}

.nav-main ul.nav-menu-logo {
    max-width: 110px;
    width: 100%;
    padding: 10px 10px;
    margin-left: 50px;
    padding-bottom: auto;
    display: flex;
}

.nav-main .nav-menu-logo li a:hover {
    color: #ffffff;
    border-bottom: 0;
}





/*SECCION: Servicios (3 paquetes) */


.servicios {
    text-align: center;
    padding: 100px 50px;
}


.servicios .servicios-titulo {
    font-size: 3em;
}

.servicios .servicios-texto {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 80px;

}

.servicios .card {
    width: auto;
    height: auto;
    border-radius: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}


.servicios .card .card-body .card-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 20px;
    font-weight: 400;
    filter: opacity(0.6) drop-shadow(0 0 0);
}

.servicios .card .card-body .card-text {
    display: flex;
    padding: 20px;
}

.servicios .card .card-body .boton:hover {
    color: #F1ECEB;
}

/*
.servicios .card .card-body a{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    color: #ffffff;
}

.servicios .card .card-body a:hover {
    color: #F1ECEB;
}
*/


/*SECCION: Unete a la familia*/

.form-unete {
    display: flex;
    padding: 0;
    height: auto;    
}

.form-unete .izquierda{
    margin: 30px 30px;
    max-width: 400px;
    width: 100%;
    
    
}
.form-unete .izquierda img{
    max-width: 300px;
    width: 100%;
    display: flex;
    margin: auto;
}

.form-unete .izquierda .row .titulo{
    display: flex;
    padding: 100px;
}

.izquierda h2 {
    justify-content: space-between;
}

.form-unete form {
    max-width: 700px;
    width: 100%;
}

.form-unete form .input-unete {
    display: flex;
    flex-wrap: wrap;
}

.container .form-unete .input-unete {
    display: flex;
}

/*FOOTER*/

footer {
    background-color: #8BD1D3;
}

.footer-links {
    padding: 35px 0;
    background-color: #8BD1D3;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 10cm;
}

.footer {
    background-color: #FED5D1;
    color: #ffff;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 10px;
}


.boton {
    border-radius: 100px;
    background-color: #FED5D1;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 0.6cm;
    text-align: end;
}

/**TESTIMONIOS**/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa' cursive;
}

.contenedor{ 
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

.slider-contenedor{
    display: flex;
    background: #ffffff;
    height:100%;
    width: 100%;
    align-items: center;

}

p{
    text-align: center;
    font-style: italic;
}

.slider-test{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    align-items: center;

}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

/** FIN TESTIMONIOS //*
