/* ACÁ SOLAMENTE CSS A NIVEL PÁGINA

Para dar un estilo css a algun elemento/seccion en particular,
primero crear un archivo .css referente a la seccion, y dentro de ese 
archivo crear los css correspondientes.

No olvidar crear link en la seccion HEAD de la página para que se 
visualicen los cambios css realizados. */


/* PALETA DE COLORES */

:root {
    --primario: #8BD1D3;
    --secundario: #FED5D1;
    --oscuro: rgb(147, 228, 170);
    --blanco: white;
    --negro: black;
}


* {
    font-family: 'Comfortaa', cursive;
}

body {
    background: #fffbf9;
}

.diseño-rosado {
    border-radius: 100px;
    background-color: #FED5D1;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 0.6cm;
    text-align: center;
}

.boton {
    border-radius: 100px;
    background-color: #FED5D1;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 0.6cm;
    text-align: center;
    filter: opacity(0.7) drop-shadow(0 0 0);
}

.boton:hover {
    filter: none;
}


.boton-volver {
    border-radius: 100px;
    border: none;
    background-color: gray;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 0.6cm;
    text-align: center;
    filter: opacity(0.5) drop-shadow(0 0 0);
}

.boton-volver:hover {
    filter: none;
}
