* {
    font-family: 'Comfortaa', cursive; 
}

/*BARRA DE NAVEGACION */

nav {
    background-color: #8BD1D3;
}

.up-nav {
    background-color: #FED5D1;
    margin-bottom: 0;
}

.up-nav ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.up-nav ul li{
   align-items: center;
   justify-content: left;
   max-width: 30px;
   width: 100%;
}

.up-nav ul img {
    max-width: 60%;
    max-height: 1;
    filter: opacity(0.4) drop-shadow(0 0 0);
}

.up-nav ul img:hover {
    max-width: 60%;
    max-height: 1;
}

a {
    color: #ffff;
    text-decoration: none;
    padding-bottom: auto;
}

ul{
    list-style: none;
    color: #ffff;
}

.nav-main {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 0;
    padding-top: 29px;
    width: 100%;
    margin: 0;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 15px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffff;

}

.nav-main a:hover {
    color:#ffffff;
}


.nav-main ul .nva-menu {
    flex: 1;
}


/*SECCION: Servicios (3 paquetes) */


.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 50px;
}

.servicios .card {
    display: flex;
    width: 330px;
    height: 500px;
    border-radius: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}


.servicios .card .card-body .card-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 20px;
    font-weight: 400;
    filter: opacity(0.6) drop-shadow(0 0 0);
}

.servicios .card .card-body .card-text {
    display: flex;
    padding: 20px;
}

.servicios .card .card-body a{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    color: #ffffff;
}

.servicios .card .card-body a:hover {
    color: #F1ECEB;
}



/*SECCION: Unete a la familia*/

.form-unete {
    display: flex;
    padding: 0;
    height: auto;    
}

.form-unete .izquierda{
    margin: 30px 30px;
    max-width: 400px;
    width: 100%;
    
    
}
.form-unete .izquierda img{
    max-width: 300px;
    width: 100%;
    display: flex;
    margin: auto;
}

.form-unete .izquierda .row .titulo{
    display: flex;
    padding: 100px;
}

.izquierda h2 {
    justify-content: space-between;
}

.form-unete form {
    max-width: 700px;
    width: 100%;
}

.form-unete form .input-unete {
    display: flex;
    flex-wrap: wrap;
}

.container .form-unete .input-unete {
    display: flex;
}

/*FOOTER*/

footer {
    background-color: #8BD1D3;
}

.footer-links {
    padding: 35px 0;
    background-color: #8BD1D3;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 10cm;
}

.footer {
    background-color: #FED5D1;
    color: #ffff;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 10px;
}


.boton {
    border-radius: 100px;
    background-color: #FED5D1;
    border: none;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 30px;
    font-size: 0.6cm;
}


