{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container">
    <section class="registro">
        <div class="row registro">
            <div class="col">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">Registrarse</button>
                    </form>
                </div>
                <div>
                    <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión aquí.</a></p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock contenido %} 