/*BARRA DE NAVEGACION (HEADER)*/


nav {
    background-color: #8BD1D3;
}

.up-nav {
    background-color: #FED5D1;
    margin-bottom: 0;
}

.up-nav ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.up-nav ul li {
    align-items: center;
    justify-content: left;
    max-width: 30px;
    width: 100%;
}

.up-nav ul img {
    max-width: 60%;
    max-height: 1;
    filter: opacity(0.4) drop-shadow(0 0 0);
}

.up-nav ul img:hover {
    max-width: 60%;
    max-height: 1;
}

nav a {
    color: #ffff;
    text-decoration: none;
    width: auto;
}

ul {
    list-style: none;
    color: #ffff;
}

.nav-main {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 0;
    padding-top: 29px;
    width: 100%;
    margin: 0;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 15px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffff;

}

.nav-main a:hover {
    color: #ffffff;
}


.nav-main ul .nav-menu {
    flex: 1;
}

.nav-main ul.nav-menu-logo {
    max-width: 110px;
    width: 100%;
    padding: 10px 10px;
    margin-left: 50px;
    padding-bottom: auto;
    display: flex;
}

.nav-main .nav-menu-logo li a:hover {
    color: #ffffff;
    border-bottom: 0;
}


header .newprueba {
    max-width: auto;
    max-height: 1000000000  px;
    width: 100%;
    height: 100%;
    
}

.presentacion {
    margin: 0 0;
    padding: 0 0;
}


.presentacion .newprueba {
    margin: 0 0;
    padding: 0 0;
}

header .newprueba .foto {
    margin: 0 0;
    padding: 0 0;
    background-image: url('../img/NatyHome.PNG');
    background-size: cover;
}

header .newprueba img {
    max-width: 100%;
    max-height: 100%;
    

}

header .newprueba .texto {
    padding: 40px 70px;
}

header .newprueba .texto .nleter {
    margin-bottom: 0;    
}

header .newprueba .texto .nleter .formulario-newsletter {
    padding-top: 0;
}

header .newprueba .texto .nleter .formulario-newsletter .input-unete {
    font-size: medium;
    padding-left: 10px;
    margin: 3px 0 ;
}