/* PALETA DE COLORES */
:root {
    --primario: #8BD1D3;
    --secundario: #FED5D1;
    --oscuro: rgb(147, 228, 170);
    --blanco: white;
    --negro: black;
}
/* PALETA DE COLORES */

/* inicio/home */

/*.home {
    text-align: center;
    padding: 100px 50px;
}
/*

/* fin css inicio/home */

.sobremi-home {
    padding: 10px 60px;
}

.sobremi-titulo {
    padding: 10px 20px;
}

.sobremi-home h1 {
    display: center;
    text-align: center;
    justify-content: center;
}

.sobremi-contenido p{
    width: auto;
}


  
