/* TESTIMONIOS  */

.testimonios .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.testimonios .titulo .titulo-testimonio {
    width: 50%;
    padding: auto;
    margin: 50px 0;
}

.slide {
    display: flex;
    background: #ffff;
    height: 390px;
    width: 1120px;
    margin: auto;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #FED5D1;
}

.slide .active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 99%;
    width: 99%;
    flex-shrink: 0;
    align-items: center;
}
.slide .p{
    text-align: center;
    font-style: 'Comfortaa';
}

.w3-circle {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
}
