/* TESTIMONIOS  */

.testimonios .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.testimonios .contenedor{ 
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: auto;

}

.testimonios .titulo .titulo-testimonio {
    width: 50%;
    padding: auto;
    margin: 50px 0;
}

.testimonios .contenedor .slider-contenedor{
    display: flex;
    background: #ffffff;
    height:100%;
    width: 100%;
    align-items: center;

}

.testimonios .contenedor .slider-contenedor p{
    text-align: center;
    font-style: italic;
}

.testimonios .contenedor .slider-contenedor .slider-test{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    align-items: center;

}

.slider-test img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}