{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<style>
svg {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#episodio{
    background-color: rgb(220,233,177);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}
.episodios-podcast{
    margin-top: 30px;
    width:100%;
}
.row-podcast{
    height: 300px;
    margin-left: 20%;
    width: 60%;
    overflow-y: scroll;
    align-items: center;
}

</style>
<div class="container">
    <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
        <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#8BD1D3;"></path>
    </svg>
    <!--SECCION INTRODUCCION DE SERVICIOS-->
    <section class="podcast">
        <div class="row">
            <div class="col">
                <table style="width:100%; text-align: center; margin-top: 50px;">
                    <tr>
                        <td>
                            <img class="ima" id="corazon" src="{% static 'img/16.svg' %}" alt="" style="height: 30px;">
                        </td>
                        <td>
                            <h1>Podcast</h1>
                        </td>
                        <td>
                            <img src="{% static 'img/16.svg' %}" alt="" style="height: 30px;">
                        </td>
                    </tr>
                </table>
                
                <p style="text-align: center; margin-bottom: 30px; width: 95%;">Bienvenidas y bienvenidos al podcast Sanando con Armonía, yo soy Natalia Becerra y en este espacio busco ayudarte en este viaje, para que hagas consciente que el bienestar está en tus manos.
                Mi invitación es que te conozcas, te escuches, te entiendas, te cuides, y te centres en ti; mediante reflexiones, enseñanzas y actividades que enriquezcan tu alma y tu vida.
                Me encantaría que pienses en este podcast como tu ratito semanal para despegarte del día y reconectar contigo.</p>
                <iframe style="border-radius:12px;" src="https://open.spotify.com/embed/show/3I4VnXwyS6KKOb48BISBi9?utm_source=generator&theme=0" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>
            <div class="col">
                <img src="https://cdn-images-1.listennotes.com/podcasts/sanando-con-armon%C3%ADa-natalia-maria-becerra-Kcq-0TMZrsp-lqU5ZxaopLD.1400x1400.jpg">
            </div>
        </div>
        <h1 class="diseño-rosado" style="width:60%; margin-left: 20%;">Episodios</h1>
        <div class="row-podcast" style="float:center;">
            <table class="episodios-podcast">
                {% for episodio in episodios %}
                <tr><td><p id="episodio">{{episodio}}</p></td></tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>
{% endblock contenido %}