{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container">

    <!--SECCION INTRODUCCION DE SERVICIOS-->
    <section class="servicios-introduccion">
        <div class="row row-titulo">
            <div class="col-1">
                <img class="ima" id="corazon" src="{% static 'img/16.svg' %}" alt="">
            </div>
            <div class="col-6">
                <h1 class="introduccion-titulo">Servicio Psicoterapéutico</h1>
            </div>
            <div class="col-1">
                <img src="{% static 'img/16.svg' %}" alt="">
            </div>
        </div>
        <div class="row row-saludo">
            <div class="col-10">
                <h3 class="introduccion-saludo">Hola...</h3>
            </div>
        </div>
        <div class="row row-parrafo">
            <div class="col-10">
                <p class="introduccion-parrafo">
                    Te cuento que <i>amo</i> ayudar a personas a tomar consciencia y encontrar las respuestas que necesitan dentro 
                    de sí mismos. Me enfoco en ti mediante hipnosis, programación neurolingüistica y terapia de respuesta espiritual
                    para que conectes con tu seguridad, confianza y tranquilidad.
                </p>
                <p class="introduccion-parrafo">
                    Mi filosofía es <i>"todo está en ti"</i> y mi misión es que aprendas a expresar tus pensamientos y emociones
                    respetándote a tu misma/o y a tu pareja.
                </p>
                <p class="introduccion-parrafo">¡Vinimos a aprender y a experimentar a la Vida y qué mejor que hacerlo con y desde el amor!</p>
            </div>
        </div>
    </section>
    <!--FIN SECCION INTRODUCCION DE SERVICIOS-->

    <!--SECCION PRESENTACION DE SERVICIOS-->
    <section id="titulo-paquetes" class="servicios-presentacion">
        <div class="row row-titulo-paquetes">
            <div class="col-4">
                <h2 class="diseño-rosado">Te presento mis servicios ...</h2>
            </div>
        </div>
    </section>
    <!--FIN SECCION PRESENTACION DE SERVICIOS-->

    <!--SECCION INFORMACION DE SERVICIOS-->
    <section class="servicios-informacion">
        <div id="paquete-1" class="row row-paquete">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Paquete Psicológico N° 1</h1> <br>
                        <p class="">Te ayudo a obtener claridad de tu situación actual.</p>
                        <p><b>Aclara tus dudas y aprende nuevas alternativas para solucionar lo que deseas.</b></p>
                        <br>
                        <div class="row despliegue">
                            <div class="col">
                                <p><u>Incluye:</u></p>
                                <p class="tabulado"> -   Una sesión individual de una hora aproximadamente vía Zoom.</p>
                                <p>¿Qué vas a lograr?</p>
                                <p class="tabulado"> -   Tener claridad y seguridad para que tomes decisiones.</p>
                                <p class="tabulado"> -   Identificar las herramientas que tú ya posees para afrontar posibles conflictos.</p>
                                <p class="tabulado"> -   Reconocer y gestionar las emociones que te generan dificultades.</p>
                            </div>
                        </div>
                        <br>
                        <p>Valor: $47.000 pesos chilenos/ 69 USD</p>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="boton">Quiero inicar sesiones contigo</button>
                        <button class="boton-volver"><a href="#titulo-paquetes">Volver a paquetes</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="paquete-2" class="row row-paquete">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Paquete Psicológico N° 2</h1> <br>
                        <p>Te ayudo a afrontar conversaciones difíciles.</p>
                        <p><b>Comienzas a ser más consciente de todo lo que quieres para ti.</b></p>
                        <div class="row despliegue">
                            <div class="col">
                                <p><u>Incluye:</u></p>
                                <p class="tabulado"> - 4 sesiones individuales de una hora aproximadamente vía Zoom.</p>
                                <p class="tabulado"> - Duración: Las sesiones serán una vez por semana, durante 1 mes.</p>
                                <p class="tabulado"> - Un análisis en la primera sesión de tu situación actual y asesoramiento en el plan de trabajo.</p>
                                <p>¿Qué vas a lograr?</p>
                                <p class="tabulado"> -  Aprenderás a afrontar conversaciones difíciles, de forma respetuosa contigo misma/o y con tu pareja.</p>
                                <p class="tabulado"> -  Aprenderás a regular tu estado interno en las situaciones difíciles con tu pareja.</p>
                                <p class="tabulado"> -  Podrás identificar tus propias herramientas para poder enfrentar conflictos puntuales.</p>
                            </div>
                        </div>
                        <br>
                        <p>Valor: $167.000 pesos chilenos/ 239 USD</p>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="boton">Quiero inicar sesiones contigo</button>
                        <button class="boton-volver"><a href="#titulo-paquetes">Volver a paquetes</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="paquete-3" class="row row-paquete">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Paquete Psicológico N° 3</h1> <br>
                        <p>Te ayudo con estrategias efectivas para hacerte cargo de ti misma/o.</p>
                        <div class="row despliegue">
                            <div class="col">
                                <p><u>Incluye:</u></p>
                                <p class="tabulado"> - 8 sesiones individuales de una hora aproximadamente vía Zoom.</p>
                                <p class="tabulado"> - Duración: Las sesiones serán una vez por semana, durante 2 meses.</p>
                                <p class="tabulado"> - Un análisis en la primera sesión de su situación actual y asesoramiento en el plan de trabajo que se adapten a sus necesidades y objetivos.</p>
                                <p>¿Qué vas a lograr?</p>
                                <p class="tabulado"> -  Podrás entender, comprender y sanar tus heridas emocionales.</p>
                                <p class="tabulado"> -  Aprenderás a resignificar las creencias que te impiden estar bien contigo y con tu pareja (si corresponde).</p>
                                <p class="tabulado"> -  Aprenderás a regular tu estado interno en las situaciones difíciles con tu pareja (si corresponde).</p>
                                <p class="tabulado"> -  Incorporarás estrategias efectivas para gestionar tus emociones.</p>
                            </div>
                        </div>
                        <br>
                        <p>Valor: $317.000 pesos chilenos/ 473 USD</p>
                        <br>
                    </div>
                    <div class="card-footer">
                        <button class="boton">Quiero inicar sesiones contigo</button>
                        <button class="boton-volver"><a href="#titulo-paquetes">Volver a paquetes</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FIN SECCION INFORMACION DE SERVICIOS-->

</div>

{% endblock contenido %}